.profile-bar{
    align-items: center;
}
.profile-bar .detail p{
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}
.profile .logout{
    outline: none;
    border: none;
}
.table-bordered{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: justify;
}
.table-bordered th{
    text-align: center;
}
.table-bordered button{
    margin-right: 4px;
}

.notification p{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
   
}
.notification .bubble {
    display: flex;
    flex-direction: row;
    color: white;
    background: #5258E1;
    padding: 10px;
    border-radius: 0px 0px 0px 20px;
}
.notification .bullets{
    display: inline-flex;
    margin-right: 10px;
}