.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;
}
.login .head h1{
    font-style: bold;
    font-weight: 600;
    font-size: 32px;
}
.login .form .login-btn{
    width: 400px;
    height: 38px;
    background: #5258E1;
    border-radius: 43px;
}
.login input{
    margin-top: 10px;
    width: 400px;
    height: 38px;
}
